html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    background-color: #FFF;
    color: #54566D;
    text-align: center;
    font-size: 20px;
	font-family: 'Cantata One', sans-serif;
	color: rgba(94,93,82,1);
	position: relative;
	background-image: url('../pic/headpic.png');
    background-repeat: no-repeat;
	z-index: -100;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
	
	
}
a {
    color: #1a9ec2;
    text-decoration: none;
}
a:hover {
    color: #000;
}
img {
	display: block;
	border: 0 none;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-weight: normal;
	font-family: 'Cantata One', sans-serif;
	
}
p {
    text-indent: 50px;
}



/* ---------------------------------- backgrounds all pages ----------------------------- */
.cover {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
/* ---------------------------------- sections ----------------------------- */
section, article, div {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	position: relative;
}
/* ---------------------------------- index video ----------------------------- */
#start {
	width: 100%;
	height: 100%;
	min-height: 100%;
	text-align: center;
	position: relative;
}
#video-start {
	position: absolute;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	overflow: hidden;
	z-index: -100;
}
/* ---------------------------------- wrapper ----------------------------- */
#wrapper1{
	min-height: 100%;
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
}
#wrapper {
	text-align: center;
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
	min-height: 100%;
	
}
.wrapper-white {
	background-color: #FFF;
}

ul {
  list-style-position: outside;
}
hr.style1{
	border-top: 1px solid #8c8b8b;
}

.column {
    float: left;
    width: 50%;
    padding: 5px;
}	
/* Clearfix (clear floats) */
.row::after {
    content: "";
    clear: both;
    display: table;
}
/* ---------------------------------- header top ----------------------------- */


.responsive-table {
  width: 45%;
  margin-bottom: 1.5em;
  margin-left: auto;
  margin-right: auto;
  
}
.responsive-table thead {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
.responsive-table thead th {
  background-color: #1d96b2;
  border: 1px solid #1d96b2;
  font-weight: normal;
  text-align: center;
  color: white;
}
.responsive-table tbody,
.responsive-table tr,
.responsive-table th,
.responsive-table td {
  display: block;
  padding: 0;
  text-align: left;
  white-space: normal;
  color:#009900;
}
@media (min-width: 48em) {
  .responsive-table tr {
    display: table-row;
  }
}
.responsive-table th,
.responsive-table td {
  padding: .5em;
  vertical-align: middle;
}
@media (min-width: 30em) {
  .responsive-table th,
  .responsive-table td {
    padding: .75em .5em;
  }
}
@media (min-width: 48em) {
  .responsive-table th,
  .responsive-table td {
    display: table-cell;
    padding: .5em;
  }
}
@media (min-width: 62em) {
  .responsive-table th,
  .responsive-table td {
    padding: .75em .5em;
  }
}
@media (min-width: 75em) {
  .responsive-table th,
  .responsive-table td {
    padding: .75em;
  }
}
  .responsive-table tr {
    display: table-row;
  }
}
.responsive-table th,
.responsive-table td {
  padding: .5em;
  vertical-align: middle;
}
@media (min-width: 48em) {
  .responsive-table tbody {
    display: table-row-group;
  }
}
.responsive-table tbody tr {
  margin-bottom: 1em;
  border: 2px solid #1d96b2;
}
@media (min-width: 48em) {
  .responsive-table tbody tr {
    display: table-row;
    border-width: 1px;
  }
}
.responsive-table tbody tr:last-of-type {
  margin-bottom: 0;
}
@media (min-width: 48em) {
  .responsive-table tbody tr:nth-of-type(even) {
    background-color: rgba(94, 93, 82, 0.1);
  }
}
.responsive-table tbody th[scope="row"] {
  background-color: #1d96b2;
  color: white;
}
@media (min-width: 48em) {
  .responsive-table tbody th[scope="row"] {
    background-color: transparent;
    color: #5e5d52;
    text-align: left;
  }
}
.responsive-table tbody td {
  text-align: right;
}
@media (min-width: 30em) {
  .responsive-table tbody td {
    border-bottom: 1px solid #1d96b2;
  }
}
@media (min-width: 48em) {
  .responsive-table tbody td {
    text-align: center;
  }
}
.responsive-table tbody td[data-type=currency] {
  text-align: right;
}
.responsive-table tbody td[data-title]:before {
  content: attr(data-title);
  float: left;
  font-size: .8em;
  color: rgba(94, 93, 82, 0.75);
}
@media (min-width: 30em) {
  .responsive-table tbody td[data-title]:before {
    font-size: .9em;
  }
}
@media (min-width: 48em) {
  .responsive-table tbody td[data-title]:before {
    content: none;
  }
}

  thead {
    position: absolute;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px; 
    width: 1px; 
    overflow: hidden;
  }
   caption {
    margin-bottom: 1em;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
   }






/* ---------------------------------- header top ----------------------------- */
#header-top {
	text-align: center;
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
	position: relative;
}
#header-top h1 {
	width: 40%;
	max-width: 235px;
	text-align: left;
	font-size: 1em;
	margin: 5% 0;
}
#header-top h1 img {
	width: 100%;
	height: auto;
	display: block;
	vertical-align: middle;
}
/* ---------------------------------- nav ----------------------------- */
nav {
	width: 100%;
	max-width: 1200px;
	background-color: #4f4c42;
	margin: 0 auto;
	text-align: left;
}
nav ul {
	width: 100%;
	list-style: none none;
	margin: 0;
	padding: 0;
}
nav ul li {
	width: auto;
	list-style: none none;
	margin: 0;
	padding: 0;
	float: left;
	display: inline-block;
}
nav ul li a {
	padding: 20px 40px;
	font-size: 0.95em;
	color: #FFF;
	display: block;
	font-weight: bold;
}
nav ul li a:hover {
	color: #000;
	background-color: #FFF;
}
nav ul li+li {
	border-left: 1px solid #FFF;
}
.sticky {
	position: fixed;
	top: 0;
	left: auto;
	z-index: 100;
}
/* ---------------------------------- info start ----------------------------- */
#start-info {
	color: #FFF;
	padding: 15% 0 0 0;
	width: 90%;
	margin: 0 auto;
}
#start-info h2 {
	font-size: 2em;
	margin: 20px auto;
	font-weight: bold;
}
#start-info h2 img {
	margin: 0 auto;
	display: block;
	width: 70%;
	max-width: 310px;
	height: auto;
	text-align: center;
}
#start-info h3 {
	font-size: 1.3em;
	margin: 20px auto 30px auto;
}

#start-info p a {
	padding: 10px 20px;
	border: 2px solid #FFF;
	color: #FFF;
	font-size: 0.8em;
}
#start-info p a:hover {
	border: 3px solid #ff1a1a;
	color: #ff1a1a;
}
/* ---------------------------------- entry ----------------------------- */
#entry {
	width: 90%;
	margin: 0 auto;
	text-align: left;
	padding: 5%;
	font-size: 1em;
	line-height: 1.6em;
}
/* ---------------------------------- footer ----------------------------- */
footer {
	width: 100%;
	text-align: center;
	margin: 3% auto 0 auto;
	padding: 1% 0;
	font-size: 0.8em;
	background-color: #FFF;
	
}
/* ---------------------------------- clear ----------------------------- */
.clearfix:before, .clearfix:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}
.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
    margin: 0;
}
